h1{
    color: blue;
}

div{
    background-color: rgb(48, 162, 200);
    border: 1px solid black;
    padding: 10px;
}

.black-bg{
    background-color: black;
    color: white;
}
h1.black-bg{
    background-color: rgb(86, 86, 86);
    color: white;
}
.container{
    border: 2px solid rgb(209, 0, 0);
}
.container h1{
    font-size: 120px;
}

.container .heading{
    font-size: 120px;
}

